
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<p>Welcome to Mind Over Matter where you can user your mind to bend matter to your whim.</p>
<canvas id="theCanvas" width="800px" height="600px"resize><</canvas>


