
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<p>Welcome to Mind Over Matter where you can user your mind to bend matter to your whim.</p>
<div id="canvasContainer">
    <canvas id="theCanvas" resize><</canvas>
    <input type="button" id="btnGetName" value="Get Name"/>
</div>


