
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div id="topRow">
    <label id="Cap">Click on the canvas to create Carbon Atoms.<br /> The Atoms will bond together automatically.</label>
</div>
<div id="Content">
    <div id="modal-container" class="modal fade" 

tabindex="-1" role="dialog">
   <div id ="modalContent"class="modal-content">
   </div>
 </div>
    <div id="canvasContainer">
        <canvas id="theCanvas" resize><</canvas>
        <input type="button" id="btnGetName" value="Get Name" />
    </div>
</div>