@model MindOverMatter.Models.User.User
<h2>Login</h2>
<p>
    <h3></h3>
    @using (Html.BeginForm("Identity","Account","FormMethod.Post"))
    {
    @Html.LabelFor(m => m.Username, "Username: ")
    @Html.TextBoxFor(m => m.Username)
    <br />
    @Html.LabelFor(m => m.Password, "Password: ")
    @Html.TextBoxFor(m => m.Password)
    <input type="submit" value="Attempt Login" />
    }
</p>

